ion-content{
    background: #ffffff; 
    padding: 30px;      
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    /* Flexbox centering for the container's parent */
    top: 50%;
    transform: translateY(-50%);
}
form{
    margin: auto;
    margin-left: 7%;
    width: 100%;
    max-width: 400px; 
}