<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">User ID</ion-label>
      <ion-input type="text" [(ngModel)]="userId" name="userId" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" [(ngModel)]="age" name="age" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="text" [(ngModel)]="gender" name="gender" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Education Level</ion-label>
      <ion-input type="text" [(ngModel)]="educationLevel" name="educationLevel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Health Status</ion-label>
      <ion-input type="text" [(ngModel)]="healthStatus" name="healthStatus" required></ion-input>
    </ion-item>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <ion-button expand="full" type="submit">Register</ion-button>
  </form>

  <ion-row>
    <ion-col>
      <ion-button expand="full" color="light" (click)="router.navigate(['/login'])">
        Already have an account? Login
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
